<html>
    <head>
        <title>DJANGO GIRLS BLOG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DJANGO GIRLS BLOG</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>hi! nice to meet you </p>
        </div>

        <div>
            <p>published: 15.06.2014, 12:12</p>
            <h2><a href="">My second post</a></h2>
            <p>hi!hi!hi!</p>
        </div>
    </body>
</html>